<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AirLine Reservation System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
<!--    <link href="img/favicon.ico" rel="icon">-->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" th:href="@{Images/title_logo.png}" type="text/x-icon">
    <!-- Template Stylesheet -->
    <link th:href="@{/CSS/style.css}" rel="stylesheet">
</head>

<body>
<div class="container-xxl bg-white p-0">

    <!-- Header Start -->
    <div class="container-xxl bg-white p-0">

        <!-- Header Start -->
        <div class="container-fluid bg-dark px-0">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a href="index.html"
                       class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                        <h1 class="m-0 text-primary text-uppercase">AirReserve</h1>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="row gx-0 bg-white d-none d-lg-flex">
                        <div class="col-lg-7 px-5 text-start">
                            <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                                <i class="fa fa-envelope text-primary me-2"></i>
                                <p class="mb-0">yashvaddoriya120@gmail.com</p>
                            </div>
                            <div class="h-100 d-inline-flex align-items-center py-2">
                                <i class="fa fa-phone-alt text-primary me-2"></i>
                                <p class="mb-0">+91 82405 70310</p>
                            </div>
                        </div>
                        <div class="col-lg-5 px-5 text-end">
                            <div class="d-inline-flex align-items-center py-2">
                                <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                                <a class="" href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a href="index.html" class="navbar-brand d-block d-lg-none">
                            <h1 class="m-0 text-primary text-uppercase">AirReserve</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                                data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="index.html" class="nav-item nav-link">Home</a>
                                <a href="about.html" class="nav-item nav-link active">About</a>
                                <a href="availability.html" class="nav-item nav-link">Check Availability</a>
                                <a th:unless="${session.customerUsername}" href="booking_error_msg.html" class="nav-item nav-link">Booking</a>
                                <a th:if="${session.customerUsername}" href="booking.html" class="nav-item nav-link">Booking</a>
                                <a th:if="${session.customerUsername}" href="Cancellation.html"
                                   class="nav-item nav-link">Cancellation</a>
                                <div class="nav-item dropdown" th:unless="${session.customerUsername}">
                                    <a href="#" class="nav-link dropdown-toggle"
                                       data-bs-toggle="dropdown">Login/Register</a>
                                    <div class="dropdown-menu rounded-0 m-0">
                                        <a href="login.html" class="dropdown-item">Login</a>
                                        <a href="register.html" class="dropdown-item">Register</a>
                                    </div>
                                </div>
                                <a href="contact.html" class="nav-item nav-link">Contact</a>
                            </div>
                            <form action="logout" method="post">
                                <button th:if="${session.customerUsername}" type="submit"
                                        class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block">Logout
                                    As<small>
                                        <span th:text="${session.customerUsername}"></span>
                                    </small><i class="fa fa-arrow-right ms-3"></i></button>
                            </form>
                            <a th:unless="${session.customerUsername}" href="adminlogin.html"
                               class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block">Admin Panel<i
                                    class="fa fa-arrow-right ms-3"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Header End -->

        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" th:style="'background-image: url(\'/Images/carousel-1.jpg\');'">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Types Of Plane Ticket</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Ticket Type</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Ticket info Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">Types Of Plain Ticket</h6>
                    <h1 class="mb-5"><span class="text-primary text-uppercase">AirReserve</span> Provides </h1>
                </div>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="row gy-4">
                            <div class="col-md-4">
                                <h6 class="section-title text-start text-primary text-uppercase">Booking</h6>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>book@example.com</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="section-title text-start text-primary text-uppercase">General</h6>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>info@example.com</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="section-title text-start text-primary text-uppercase">Technical</h6>
                                <p><i class="fa fa-envelope-open text-primary me-2"></i>tech@example.com</p>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                        <h6 class="section-title text-start text-primary text-uppercase">Types Of Plane Tickets</h6>
                        <h1 class="mb-4">AirReserve Provides <span class="text-primary text-uppercase">One-Way Ticket</span></h1>
                        <p class="mb-4">This is a type of ticket for one direction of travel only. It is ideal for travelers who do not require a return flight or for travelers who do not have an exact return date. Travelers who purchase one-way tickets must purchase a second ticket for return travel.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <div class="row g-3">
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                                         th:style="'background-image: url(\'/Images/about-3.jpg\');'">
                                </div>
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                                         th:style="'background-image: url(\'/Images/about-4.jpg\');'">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <div class="row g-3">
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                                         th:style="'background-image: url(\'/Images/about-2.jpg\');'">
                                </div>
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                                         th:style="'background-image: url(\'/Images/about-1.jpg\');'">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
                        <h6 class="section-title text-start text-primary text-uppercase">Types Of Plane Tickets</h6>
                        <h1 class="mb-4">AirReserve Provides <span class="text-primary text-uppercase">Round-trip Ticket</span></h1>
                        <p class="mb-4">Round-trip tickets are tickets that allow the purchaser to travel to their destination and then back again. This type of ticket is for travelers who have plans to travel on specific dates.</p>
                    </div>

                    <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                        <h6 class="section-title text-start text-primary text-uppercase">Types Of Plane Tickets</h6>
                        <h1 class="mb-4">AirReserve Provides <span class="text-primary text-uppercase">First Class Ticket</span></h1>
                        <p class="mb-4">First class tickets are a form of one-way or round-trip tickets that allow travelers to travel in first class. Because first class travelers have access to spacious seating, quality food, drink and other in-flight amenities, these tickets are often the most expensive type of ticket available. First class ticket holders also have access to the airport lounge while waiting for their flight and a variety of entertainment options on-board.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <div class="row g-3">
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                                         th:style="'background-image: url(\'/Images/about-2.jpg\');'">
                                </div>
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                                         th:style="'background-image: url(\'/Images/about-1.jpg\');'">
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.10s">
                            <div class="row g-3">
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                                         th:style="'background-image: url(\'/Images/about-3.jpg\');'">
                                </div>
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                                         th:style="'background-image: url(\'/Images/about-4.jpg\');'">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeIn" data-wow-delay="0.11s">
                        <h6 class="section-title text-start text-primary text-uppercase">Types Of Plane Tickets</h6>
                        <h1 class="mb-4">AirReserve Provides <span class="text-primary text-uppercase">Business Class Ticket</span></h1>
                        <p class="mb-4">This type of ticket allows the purchaser to sit in business class. It is a ticket that provides travelers with a more comfortable traveling experience than coach/economy. For example, one of the benefits of business class is increased leg room. However, it does not have the features or luxuries that are available to travelers carrying first class tickets.</p>
                    </div>




                    <div class="col-md-6 wow fadeIn" data-wow-delay="0.13s">
                        <h6 class="section-title text-start text-primary text-uppercase">Types Of Plane Tickets</h6>
                        <h1 class="mb-4">AirReserve Provides <span class="text-primary text-uppercase">Coach Ticket</span></h1>
                        <p class="mb-4">Coach tickets are a type of ticket in which fliers travel in coach or economy class. This is the most basic means of travel and it is also the least expensive. Holders of coach tickets are often given limited snacks and drink and other comfort features such as leg room are limited.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.14s">
                            <div class="row g-3">
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                                         th:style="'background-image: url(\'/Images/about-5.jpg\');'">
                                </div>
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                                         th:style="'background-image: url(\'/Images/about-6.jpg\');'">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.16s">
                            <div class="row g-3">
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                                         th:style="'background-image: url(\'/Images/about-2.jpg\');'">
                                </div>
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                                         th:style="'background-image: url(\'/Images/about-1.jpg\');'">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeIn" data-wow-delay="0.17s">
                        <h6 class="section-title text-start text-primary text-uppercase">Types Of Plane Tickets</h6>
                        <h1 class="mb-4">AirReserve Provides <span class="text-primary text-uppercase">Non-refundable tickets</span></h1>
                        <p class="mb-4">Round-trip tickets are tickets that allow the purchaser to travel to their destination and then back again. This type of ticket is for travelers who have plans to travel on specific dates.</p>
                    </div>

                    <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
                        <h6 class="section-title text-start text-primary text-uppercase">Types Of Plane Tickets</h6>
                        <h1 class="mb-4">AirReserve Provides <span class="text-primary text-uppercase">Refundable ticket</span></h1>
                        <p class="mb-4">Refundable tickets are a ticket type that is eligible for a refund. Travelers that request a refund are not charged a fee or penalty.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <div class="row g-3">
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                                         th:style="'background-image: url(\'/Images/about-3.jpg\');'">
                                </div>
                                <div class="col-6 text-start">
                                    <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                                         th:style="'background-image: url(\'/Images/about-4.jpg\');'">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Ticket info End -->


        <!-- Footer Start -->
        <div class="container-fluid bg-dark footer text-light wow fadeIn" data-wow-delay="0.1s">
            <div class="container pb-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="bg-primary rounded p-4">
                            <a href="index.html">
                                <h1 class="text-white text-uppercase mb-3">AirReserve</h1>
                            </a>
                            <p class="text-white mb-0">
                                The website and backend mechanism are designed and developed by <a
                                    class="text-dark fw-medium" href="https://www.facebook.com/AlphaTanmoy/">Smit Patel, Yash Vaddoriya & Dhruvit Patel</a> hope it's attractive and can be a demo of an actual airline system.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>L.D College of Engineering, Ahmedabad</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 82405 70310</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>yashvaddoriya120@gmail.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="row gy-5 g-4">
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                                <a class="btn btn-link" href="about.html">About Us</a>
                                <a class="btn btn-link" href="contact.html">Contact Us</a>
                                <a class="btn btn-link" href="about.html">Our Team</a>
                            </div>
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Services</h6>
                                <a class="btn btn-link" href="login.html">Already a User</a>
                                <a class="btn btn-link" href="register.html">New Registration</a>
                                <a class="btn btn-link" href="adminlogin.html">Admin Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="index.html"> AirReserve </a>, All Right Reserved.
                            Designed By <a class="border-bottom">Dhruvit Patel</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="index.html">Home</a>
                                <a href="about.html">About</a>
                                <a href="booking_error_msg.html">Booking</a>
                                <a href="availability.html">Check Status</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>
</html>